{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "meteor": true,
        "jquery": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "modules": true,
        "experimentalObjectRestSpread": true,
        "jsx": true,
        "globalReturn": true
    },
    "plugins": [
        "meteor", "react"
    ],
    "extends": ["airbnb", "plugin:meteor/recommended"],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "globalReturn": true,
            "jsx": true,
            "modules": true
        }
    },
    "settings": {
        "import/core-modules": [
            "meteor/meteor",
            "meteor/check",
            "meteor/accounts-base",
            "meteor/reactive-dict",
            "meteor/browser-policy-common",
            "meteor/mongo",
            "meteor/audit-argument-checks",
            "meteor/alanning:roles",
            "meteor/aldeed:simple-schema",
            "meteor/socialize:user-profile",
            "meteor/socialize:base-model",
            "meteor/socialize:likeable",
            "meteor/socialize:feed",
            "meteor/socialize:messaging",
            "meteor/socialize:friendships",
            "meteor/meteorhacks:subs-manager",
            "meteor/storyteller:fictionaltime",
            "meteor/reywood:publish-composite",
            "meteor/poetic:materialize-scss"
        ]
    },
    "rules": {
        "max-len": [2, 120, 4],
        "no-underscore-dangle": 0,
        "prefer-template": 0,
        "meteor/no-session": 1,
        "meteor/prefer-session-equals": 2,
        "meteor/audit-argument-checks": 2,
        "meteor/no-zero-timeout": 1,
        "react/jsx-key": 1,
        "react/jsx-uses-react": 1,
        "react/jsx-uses-vars": 1,
        "react/jsx-no-duplicate-props": 1,
        "react/jsx-no-undef": 1,
        "import/no-deprecated": 2,
        "import/no-commonjs": 2,
        "import/newline-after-import": 2,
        "import/prefer-default-export": 1,
        "import/no-extraneous-dependencies": 0 // off due to Meteor packages
    }
}
